<% @committers.each_with_index do |committer, i| %>
<tr>
  <td><%= i + 1 %></td>
  <% username = committer.github_username %>
  <td><%= link_to username, "https://github.com/#{username}" %></td>
  <td><%= committer.hit_count %></td>
</tr>
<% end %>
