<% @issues.each_with_index do |issue, i| %>
<tr>
  <td><%= i + 1 %></td>
  <td><%= link_to issue.name, "https://github.com#{issue.url}" %></td>
  <td><%= issue.hit_count %></td>
  <% r = Repository.find(issue.repository_id) %>
  <td><%= link_to r.name, r.url %></td>
</tr>
<% end %>
