<% @issues.each_with_index do |issue, i| %>
<tr>
  <td><%= i + 1 %></td>
  <% r = Repository.find(issue.repository_id) %>
  <td>
    <%= link_to r.name, r.url %><!-- 
    --><%= link_to "##{issue.issue_number}", "https://github.com#{issue.url}" %>
  </td>
  <td><%= issue.hit_count %></td>
</tr>
<% end %>
