<% @issues.each_with_index do |issue, i| %>
<tr>
  <td><%= i + 1 %></td>
  <td>
    <%= link_to issue.repository_name, issue.repository_url %><!-- 
    --><%= link_to "##{issue.issue_number}", "https://github.com#{issue.url}" %>
  </td>
  <td><%= issue.hit_count %></td>
</tr>
<% end %>
