<% require 'digest' %>
<main class="about">
  <h1 class="about center-align" id="about-header">Who We Are</h1>

  <div class="row about" id="bios">
    <div class="col s6 m4 l3 offset-m2 offset-l3 bio" id="first-card">
      <div class="col s12">
        <% lukas_email = 'Lukas.Nimmo@gmail.com'.downcase %>
        <% sha = Digest::MD5.hexdigest(lukas_email) %>
        <img class="circle responsive-img" src="https://www.gravatar.com/avatar/<%= sha %>?s=800">
      </div>
      <a class="center-align" href="http://numbluk.com">Lukas Nimmo</a>
    </div>

    <div class="col s6 m4 l3 bio" id="second-card">
      <div class="col s12">
        <% michael_email = 'michaelrmentele@gmail.com'.downcase %>
        <% sha = Digest::MD5.hexdigest(michael_email) %>
        <img class="circle responsive-img" src="https://www.gravatar.com/avatar/<%= sha %>?s=800">
      </div>
      <a class="center-align" href="http://getmichaelonboard.com">Michael Mentele</a>
    </div>

    <div class="col s12 center-align">
      <p id="made-with-description">Made with <%= fa_icon 'heart' %> at <a href="https://launchschool.com">LaunchSchool</a></p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
