<% Rouge::Themes::Base16.mode(:light).render(scope: '.highlight') %>
<div class="row story">
  <div class="col offset-s2 s8">
    <%= render 'landing/article' %>
  <!-- Row and colum end -->
  </div>
</div>
