<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css">

<div class="row story">
  <div class="col offset-s2 s8">
    <%= render 'landing/article' %>
  <!-- Row and colum end -->
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
