development:
  adapter: postgresql
  encoding: unicode
  database: curation_development
  pool: 5
  username: michaelmentele
  password: password

development:
  adapter: postgresql
  encoding: utf8
  database: curation_development
  username: postgres
  password: password
  host: 138.197.202.131
  port: 5432
  pool: 10

test:
  adapter: postgresql
  encoding: unicode
  database: curation_test
  pool: 5
  username: michaelmentele
  password: password

production:
  adapter: postgresql
  encoding: utf8
  database: curation_production
  username: postgres
  password: password
  host: 138.197.202.131
  port: 5432
  pool: 10