table.bordered tbody tr:last-of-type {
  border-bottom: 0px none;
}

h3 {
  height: 90px;
}

.col {
  margin-top: 40px;
}

main .row .col.l5,
main .row .col.m5,
footer .row {
  margin-top: 10px;
  margin-left: 4.16666667%;
  margin-right: 4.16666667%;
}

@media only screen and (max-width: 720px) {
  main .row .col.s12 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

table.centered tr td {
  font-size: 1.1em;
}

table.centered tr td a {
  color: inherit;
}

main .row:last-of-type {
  margin-bottom: 33px;
}

.tabs {
  overflow-x: hidden;
}

.pushpin-date-range-row {
  margin-bottom: 0px;
}

.pushpin-date-range-row,
.pushpin-date-range-row ul {
  @extend .teal, .lighten-5;
}

.pushpin-date-range-row ul {
  height: 100%;
  padding: 8px 0;
}

.pushpin-date-range-row .col {
  margin-top: 0px;
}

.pushpin-date-range-row a {
  @extend .teal-text, .text-accent-4;
}

.pushpin-date-range-row .tabs .indicator {
  background-color: #00bfa5;
}

.pushpin-date-range-row.pinned {
  position: fixed !important;
  width: 100%;
  padding-top: 16px;
}

.pushpin-date-range-row.pinned,
.pushpin-date-range-row.pinned ul {
  background-color: #00bfa5 !important;
}

.pinned a,
.pinned.pushpin-date-range-row .tabs .indicator {
  color: #e0f2f1 !important;
}

.pinned.pushpin-date-range-row .tabs .indicator {
  background-color: #e0f2f1 !important;
}

#description {
  font-size: 1.2em;
  text-align: justify;
}

// Color
// Dark Primary: #00796B
// Primary: #009688
// Light Primary: #B2DFDB
// Text/Icons: #FFFFFF
// Accent Color: #536DFE
// Primary Text: #212121
// Secondary Text: #757575
// Divider Color: #BDBDBD

.nav-wrapper {
  background-color: #00796B;
}

.description {
  color: #fff;
  @extend .teal;
  margin-bottom: 0px;
  padding: 48px 0;
}

.description .col {
  margin-top: 0px;
}

main a:hover {
  @extend .teal-text, .text-accent-4;
}

// About

.about .col {
  padding-left: 15px;
  padding-right: 15px;
}

.about {
  @extend .teal, .lighten-5;
}

.about .bio a {
  @extend .teal-text;
  display: inline-block;
  width: 100%;
}

.about .bio a h2 {
  font-size: 1.4rem;
  margin-top: 12px;
}

.about .bio a:hover {
  @extend .teal-text, .text-accent-1;
}

h1#about-header {
  @extend .teal-text;
  margin: 0;
  padding: 60px 0 0 0;
}

.about i::before {
  color: rgba(208, 0, 0, 0.98);
}

#made-with-description {
  padding: 60px 0 0 0;
}

main.about {
  @extend .teal, .lighten-5;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

main.about footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

main.about footer .col {
  margin: 0;
}

main.about footer .row {
  margin: 0;
}

// Footer
html,
body {
  height: 100%;
}
